﻿.invisible {
    display: none;
}

.header {
    background-color: blueviolet;
    height: 130px;
}

.header_left {
    float: left;
}

.header_right {
    float: right;
    width: 100px;
    line-height: 130px;
}

.login_input {
    padding: 5px 0;
}

.error_message {
    color: red;
}

.folder {
    font-weight: bold;
}
.file {
    font-weight: normal;
    font-style: italic;
}

#login_form {
    float: right;
    padding: 20px;
    border: solid 1px darkgray;
    border-radius: 5px;
    margin-top: 5px;
}

#load_data {
    margin: 20px;
}


#Tabs {
    width: 60%;
}

    #Tabs ul {
        margin-left: 10px;
        list-style-type: none;
    }

        #Tabs ul li {
            display: inline-block;
            clear: none;
            float: left;
            height: 24px;
        }

            #Tabs ul li a {
                position: relative;
                margin-top: 16px;
                display: block;
                margin-left: 6px;
                line-height: 24px;
                padding-left: 10px;
                z-index: 9999;
                border: 1px solid lightgray;
                border-bottom: 0px;
                border-radius: 5px 5px 0 0;
                width: 130px;
                color: #000000;
                text-decoration: none;
                font-weight: bold;
            }

                #Tabs ul li a:hover {
                    text-decoration: underline;
                }

    #Tabs #Content_Area {
        padding: 0 15px;
        clear: both;
        overflow: hidden;
        line-height: 19px;
        position: relative;
        top: 17px;
        z-index: 5;
        min-height: 250px;
        overflow: hidden;
        margin: 0 50px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }
